<html>

  <head>

    <title>Linear Regression</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous" />
    <link rel = "stylesheet" type = "text/css" href = "{{ url_for('static' , filename = 'home.css') }}"> 
   
  </head>
  <body>
    
    <nav class = "navbar navbar-light" id = "na">

      <img src = "{{ url_for('static' , filename = 'sa.png') }}" />

    </nav></br>
    <form action = "simple-regression" method = "POST" enctype="multipart/form-data">

      <input type="file" name="file" id = "fi" />
      </br>
      </br>
      <table class="table table-dark table-hover" id="inta">

        <thead>
          
          <tr>
 
            <th>#</th>
            <th>Parameter</th>
            <th>Value</th>
            
          </tr>
        
        </thead>
        <tbody>
  
          <tr>

            <td>1</td>
            <td>Test Ratio (0-1)</td>
            <td>
 
              <input type = "text" name = "ts" id = "in1" />

            </td>

          </tr>
          <tr>

            <td>2</td>
            <td>Random State</td>
            <td>
    
              <input type = "text" name = "rs"  id = "in2" />
         
            </td>

          </tr>
             
       </tbody>      

      </table>
      <button type="submit" id = "trb" class = "btn btn-outline-dark">

        TRAIN
        <i class="fas fa-bezier-curve"></i>

      </button>
  
    </form>

  </body>

</html>
